
	<h1>User's Info Page</h1>
	
<div class="show">
	<h3><%= full_name%></h3>

	<%= image_tag @user.avatar.url(:medium) %>

	<p>
		<%= @user.email%>
	</p>

	<p>
		Member since <%= @user.created_at.strftime("%B, %d, %Y") %>
	</p>

	<p>
		<% if current_user == @user %>
			<%= link_to "Edit your info", edit_user_path %>
		<% end %>
	</p>
</div>
