<!DOCTYPE html>
<html>
<head>
  <title>FullRailsBlog</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Maven+Pro:500' rel='stylesheet' type='text/css'>

</head>
<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/posts">Post Feed</a>
				</li>
				<li>
					<a href="/users">Users</a>
				</li>
				<li>
					<% if current_user %>
						<%= link_to 'My Account', user_path(current_user) %>
					<% end %>
				</li>
				<li>
					<a href="/users/new">Sign Up</a>
				</li>
				<li>
					<%= link_to 'Sign In', login_path %>
				</li>
				<li>
					<%= link_to 'Sign Out', sessions_path, method: :delete %>
				</li>
				<li>
					<a href="/posts/new">Create Post</a>
				</li>
			</ul>
		</nav>

		<h5>Ruby on Rails Blog</h5>

	</header>

	<div class="load">
		<img src="loading.gif">
	</div>

	<div class="content">
		<% if flash[:notice] %>
			<div class="notice">
				<%= flash[:notice] %>
			</div>
		<% end %>
		
		<% if flash[:alert] %>
			<div class="alert">
				<%= flash[:alert] %>
			</div>
		<% end %>

		<%= yield %>

	</div>

</body>
</html>
